<connectionStrings>
<add name="ProjectionContext" connectionString="data source=GVARGASMET;initial catalog=MetricsGrupoVargas;persist security info=True;user id=landnova;password=LandNova2015;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>