.BlackText {
    color:black
}


.nav-txt-big{
    font-size:125%;
}
/*border-width: 1px; border: groove; border-color: #728aac; border-radius: 4px 4px; */
.colored-border {
    display: block;
    width: 100%;
    height: 39px;
    padding: 8px 16px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #2b3e50;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #2b3e50;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
    .colored-border:focus {
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 0, 0, 0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 0, 0, 0.6);
    }

.example-image {
    position: relative;
    width:140px;
    height:35px;
}

#example-button{
    background-color: #485563;
    margin-left:3px;
    margin-right:3px;
}

.session-textbox {
    width: 120px;
    float: left;
    margin-left:5px;
    color: #fff;
}
.session-button {
    margin-top:25px;
    width: 200px;
    float: left;
    margin-left: 5px;
}

#EndDate{
    width:120px;
}
#StartDate{
    width:120px;
}

.detail-table {
    width: 100%;
    border: 2px groove #808080;
    text-align: center;
    font-size: 70%;
}

.detail-table th{
    padding: 2px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    background-color: #808080;
    color: #fff;
    text-align: center;
}

.detail-table td {
    z-index: 0;
    padding: 1px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
}

.highlight-row:hover{
    z-index: 2;
    background-color:#485563 !important;
    color: #ffffff;
    color: rgb(255, 255, 255);
}

.sum-row {
    background-color: #5c6793;
    background-color: rgb(92, 103, 147);
    background-color: hsl(228, 23%, 47%);
    color: white;
}

#searchKeyword {
    padding: 0px;
    background-color: #808080;
    border-width: 0px;
    color: white;
}

.tableinsert {
    padding:1px;
    text-align: center;
    border: 0px hidden #ffffff;

} 
.tableinsert:focus {
    text-decoration: underline;
    color: #2b7dff;
}
.btn-insert:hover {
    background-color: #d7c573;
}
    .btn-insert:active {
        background-color: #eb530f;
    }

#margen-graph {
    width:80%;
    height:50%;
    margin: 10px auto 10px auto;
}

input[disabled=disabled] {
    width: 40px;
    height: 15px;
    border: 1px solid black;
}

#sin-revisar {
    background-color: initial;
}
#validado {
    background-color: #7CD254;
}
#reserva {
    background-color: #FFFF25;
}
#revisar {
    background-color: #FFBE00;
}
#insumos {
    background-color: #FF0000;
}
#ajuste {
    background-color: #7BCFDB;
}

.color-button{
    border: 10px thick #2b7dff;
    border-radius: 10px;
    background-color: #eb530f;
    height:20px;
    width:20px;
}

.color-button:active {
    border: 10px solid inset #2b7dff;
    border-radius: 10px;
    background-color:#2b7dff;
    height: 20px;
    width: 20px;
}

li{
    display:inline;
}