@{
    ViewBag.Title = "About";
}
<section class="BlackText">
    <article>
        <h2><span class="glyphicon glyphicon-info-sign"></span>Información de la página</h2>
        <dl>
            <dt>v1.25</dt>
            <dd>Los códigos de papel ahora se mostrarán en el dashboard. Se separaron los detalles del presupuesto en
            2 líneas.</dd>
            <dt>v1.26</dt>
            <dd><p>
                Los valores de las cajas de texto volverán a 0 (cero) y los checkbox escogidos volverán
                a su estado default luego de cargar una proyección.
            </p>
            <p>Se agregó un botón de información en la esquina derecha de la barra de navegación, 
                conteniendo información de la página y un tutorial de uso.</p>
            </dd>
            <dt>v1.27</dt>
            <dd>
                <p>Las fórmulas de cálculo de kg y pliegos fueron depuradas y finalmente probadas a través de
                pruebas unitarias.</p>
            </dd>
        </dl>
    </article>
</section>
